:root {
  /* primary colors */
  --text-gray: hsl(215, 51%, 70%);
  --highlight: hsl(178, 100%, 50%);

  /* neutral colors */
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --text-light: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-bg);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 375px;
  background-color: var(--card-bg);
  line-height: 1.5;
  font-family: 'Outfit', sans-serif;
  padding: 1.7rem;
}

.card-header,
.card-main-text,
.card-info {
  margin-bottom: 0.7rem;
}

.card,
.card-image {
  border-radius: 1rem;
}

.card-image {
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card-image img {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: hsla(178, 100%, 50%, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay:hover {
  opacity: 1;
}

.overlay img {
  width: 2rem;
}

.card-image::before:hover {
  z-index: -1;
}

.card-header h1 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-light);
}

.card-main-text p {
  color: var(--text-gray);
}

.card-main-text p,
.card-info .info p,
.card-footer p {
  font-size: 1rem;
  font-weight: 300;
}

/* the icons */

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-info .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-info .info img {
  margin-right: 0.4rem;
}

.card-info .rate {
  color: var(--highlight);
}

.card-info .time {
  color: var(--text-gray);
}

/* card footer */
.card-footer {
  border-top: 2px solid var(--line-color);
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.card-footer img {
  border: 2px solid var(--text-light);
  border-radius: 50%;
  width: 2rem;
  margin-right: 1rem;
}

.card-footer p {
  color: var(--text-gray);
}

.card a {
  text-decoration: none;
  color: var(--text-light);
}

/* hover states */
.card-header h1,
.card a {
  cursor: pointer;
  transition: all 0.4s ease;
}

.card-header h1:hover,
.card-footer a:hover {
  color: var(--highlight);
}
